.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px 0;
}

h1,
h2 {
  color: #282c34;
}
